<section class="accesosRapidos">
    <article class="accesosRapidos-articulo">
        <a href="/equipamiento/alta">
            <img src="/images/accesosRapidos/equipos.jpg" alt="alta de equipos">
            <p>ALTA DE EQUIPO</p>
        </a>
    </article>
    <article class="accesosRapidos-articulo">
        <a href="/incidentes/alta">
            <img src="/images/accesosRapidos/incidentes.jpg" alt="alta de incidente">
            <p>ALTA DE INCIDENTES</p>
        </a>
    </article>
    <article class="accesosRapidos-articulo">
        <img src="/images/accesosRapidos/internet.jpg" alt="Accesos de internet">
        <p>ACCESOS DE INTERNET</p>
    </article>
    <article class="accesosRapidos-articulo">
        <a href="/usuarios/alta">
            <img src="/images/accesosRapidos/usuarios.png" alt="alta de usuarios">
            <p>ALTA DE USUARIOS</p>
        </a>
    </article>
    <article class="accesosRapidos-articulo">
        <img src="/images/accesosRapidos/guiaTelefonica.jpg" alt="guia telefonica">
        <p>GUIA TELEFONICA</p>
    </article>
    <article class="accesosRapidos-articulo">
        <img src="/images/accesosRapidos/prestamo.jpg" alt="guia telefonica">
        <p>PRESTAMO</p>
    </article>
</section>