<div class="header">
    <section class="header-parteSuperior">
        <article class="header_logo">
            <img src="/images/header/logo.jpg" alt="logo de la aplicacion">
        </article>
        <article class="header_usuarioLogueado">
            <img src="/images/header/avatarDefault.png" alt="avatar del usuario logueado">
            <div>
                <p> Hola,  <%=locals.operadorLogueado.nombre %> <%=locals.operadorLogueado.apellido %> </p>
                <a href="/operadores/modificarAvatar">Editar</a>
                <form action="/operadores/salir" method="post">
                    <button>SALIR</button>
                </form>
            </div>
        </article>
    </section>
    <section class="header-parteInferior">
        <div class="header_iconoBarras">
            <i class="fa-solid fa-bars"></i>
        </div>

        <nav class="header_barraNavegacion">
            <ul class="nav_bar">
                <li><a href="/incidentes/listado">INICIO</a></li>
                <li>ALTAS
                    <ul class="mostrarAbajo">
                        <li><a href="/incidentes/alta">Incidentes</a></li>
                        <li><a href="/equipamiento/alta">Equipos</a></li>
                        <li><a href="/usuarios/alta">Usuarios</a></li>
                        <li><a href="/dependencias/alta">Dependencias</a></li>
                        <li><a href="/operadores/alta">Operadores</a></li>
                        <li><a href="/edificios/alta">Edificios</a></li>
                        <li><a href="/areas/alta">Areas</a></li>
                        <li><a href="/acls/alta">Acls</a></li>
                        <li><a href="/tiposEquipamiento/alta">Tipos Equipos</a></li>
                    </ul>
                </li>
                <li><a href="">LISTADOS</a>
                    <ul class="mostrarAbajo">
                        <li><a href="/incidentes/listado">Incidentes</a></li>
                        <li><a href="/equipamiento/listado">Equipos</a></li>
                        <li><a href="/usuarios/listado">Usuarios</a></li>
                        <li><a href="/dependencias/listado">Dependencias</a></li>
                        <li><a href="/operadores/listado">Operadores</a></li>
                        <li><a href="/edificios/listado">Edificios</a></li>
                        <li><a href="/areas/listado">Areas</a></li>
                        <li><a href="/acls/listado">Acls</a></li>
                        <li><a href="/tiposEquipamiento/listado">Tipos Equipos</a></li>
                    </ul>
                </li>
                <li><a href="">INSTRUCTIVOS</a></li>
                <li><a href="">GUIA TELEFONICA</a></li>
            </ul>
        </nav>
    </section>
</div>