<div class="header">
    <section class="header-parteSuperior">
        <article class="header_logo">
            <img src="/images/header/logo.jpg" alt="logo de la aplicacion">
        </article>
        <article class="header_usuarioLogueado">
            <img src="/images/header/avatarDefault.png" alt="avatar del usuario logueado">
            <div>
                <p>Nombre y apellido</p>
                <a href="/operadores/modificarAvatar">Editar</a>
                <button>SALIR</button>
            </div>
        </article>
    </section>
    <section class="header-parteInferior">
        <div class="header_iconoBarras">
            <i class="fa-solid fa-bars"></i>
        </div>

        <nav class="header_barraNavegacion">
            <ul>
                <li><a href="">INICIO</a></li>
                <li><a href="">EQUIPAMIENTO</a></li>
                <li><a href="">INCIDENTES</a></li>
                <li><a href="">USUARIOS</a></li>
                <li><a href="">DEPENDENCIAS</a></li>
                <li><a href="">GUIA TELEFONICA</a></li>
            </ul>
        </nav>
    </section>
</div>