<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <%- include ('./partials/stylesComunes') %>
    
        <%- include ('./partials/scriptsComunes') %>

    <title>Listado de equipos</title>
</head>
<body>
    <header>

        <%- include ('./partials/header.ejs') %>

    </header>
    <main>
        
        <%- include ('partials/accesosRapidos.ejs')%>
        
    </main>
    <footer>
       
    </footer>
</body>
</html>